body {
    background-image: url(./assets/karl-fredrickson-TYIzeCiZ_60-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20%; */
}
/* img {
    max-width: 100px; 
    max-height: 100px;
} */